# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
coverage/

# Local env files
*.local
.env
.env.*

# Editor/OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*

# Vite cache / tooling
.vite/
.tsbuildinfo
